@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*  */
body {
    padding: 10%;
    font-size: 2rem;
    color: #3721ae;
    font-family: 'Roboto', sans-serif;
}

/* input, form { 
    color: inherit;
} */

p {
    text-decoration: underline;
    line-height: 1.5em;
}